* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, input, button {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.menu {
    height: 48px;
    padding-top: 13px;
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: auto;
}

.menu__section {
    display: flex;
    align-items: center;
}

/* .menu__section.left .menu__icon {
     padding: 12px 16px; 
} */

.menu__icon {
    margin-right: 5px;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.2s;
}

.menu__icon:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu__link {
    /* text-transform: uppercase; */
    /* font-size: 12px; */
    font-size: 13px;
    font-weight: 500;
    color: #757575;
    /* padding: 12px 8px; */
}

/* .menu__link.active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4; 
} */

/* .menu__link:not(active) {
    margin-bottom: 2px;
} */

.menu__section.rigth {
    margin-right: 4px;
}

.menu__section.rigth {
    padding: 12px;
}

.menu__profile {
    padding: 6px;
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;
}

.menu__profile:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu__avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.menu__avatar--frame {
    position: absolute;
    top: 0;
    left: 0;
}

.menu__section.left {
    display: flex;
    gap: 16px;
    margin-right: 8px;
    
}

.content {
    display: flex;
    flex-direction: column;
    /* padding: 56px 8px 0px; */
    padding: 110px 8px 0px;
    align-items: center;
    flex: 1;
}

.content__logo {
    margin-left: 3px;
    margin-top: 7px;
    height: 98px;
    width: 400px;
}

.content__search {
    margin-top: 30px;
    width: 100%;
    padding: 22px;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    background-color: transparent;
    border-radius: 25px;
    border: solid 1px #dadce0;
    outline: 0;
    width: 582px;
    height: 35px;
}

.content__offter {
    margin-top: 24px;
    font-size: 13px;
    padding: 6px 12px;
}

.content__offter a {
    text-decoration: none;
    color: #1967d2;
}

.footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
}

.footer__section:nth-child(2) {
    border-top: 1px solid #e4e4e4;
}

.footer__location {
    margin-left: 10px;
    font-size: 14px;
    color: #5f6368;
    padding: 17px 18px;
}

.footer__links {
    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 13px;
    color: #5f6368;
    padding: 10px;
}

.footer__links a {
     margin-left: 27px;
     padding: 6px 8px;
}

.footer__links--rigth {
    display: flex;
    margin-left: auto;
}